# package info
PACKAGE = pyfscache
MAJOR = 0
MINOR = 9
MICRO = 11
TAG = 
AUTHOR = James C. Stroud
EMAIL = jstroud@mbi.ucla.edu
URL = http://pyfscache.bravais.net
LICENSE = BSD
COPYRIGHT = Copyright (c) 2013, James C. Stroud; All rights reserved.
DESCRIPTION = A file system cache for python.
